@page "/accomplishments"

<h3><span style="text-decoration: underline;">Notable Accomplishments Across the Career</span></h3>
    <ul>
        <li><strong>Acknowledged by Iron Python Community</strong> for contribution in identifying the bugs in the Iron
            Python Project</li>
        <li><strong>Acknowledged by MS Luis SDK Team</strong> for identifying the bugs in SDK</li>
        <li>Received appreciation from Client Management for solving critical issue during VBConnect Project</li>
        <li>Established an Architecture function to ensure ample focus on on-going activities and quality improvements
            on an
            architectural level in the existing code base</li>
        <li>Delivered a series of releases on time and with a quality improvement which had a positive effect on
            customer
            trust and satisfaction</li>
        <li>Identified and mitigated number of risks associated with the technical architecture, implementation and
            deployment Steered consistent, high quality deliveries resulting in client satisfaction rating of A+</li>
        <li>Pat on the back award winner</li>
    </ul>