@page "/education"

<h2>Education &amp; Credentials</h2>
<ul>
<li><strong>MCA</strong> from Andhra University, Visakhapatnam in 2001</li>
<li><strong>Sc.</strong> from Andhra University Visakhapatnam in 1996</li>
</ul>
<h2>Certifications</h2>
<ul>
<li>Microsoft Certified Professional in Developing:MVC Applications ,
<ul>
<li>Microsoft Azure and Web Services</li>
</ul>
</li>
<li>Certified Ethical Hacking Version 6(CEH V6)</li>
<li>Brain Bench Certification in Python 3.3</li>
<li>Internet of Things (IOT) certified from Axelta</li>
<li>Deep Learning (Machine Learning) Certified from Edureka using Keras, TensorFlow</li>
</ul>