@page "/profexp"

<h2>Professional Experience<br /> </h2>
<p><strong>Since Dec&rsquo;11</strong></p>
<p><strong>LiquidHub India Pvt. Ltd., Hyderabad as Solution Architect</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Key Result Areas:</strong></p>
<ul>
    <li>Architecting, designing &amp; developing Enterprise solutions while maintaining scalability, performance,
        availability and quality of all platforms</li>
    <li>Creating architectures and designs for new solutions around existing and new problem spaces by adopting new
        technologies. Acting as Lead Architect taking solution ownership and stimulate design to completion</li>
    <li>Driving development activities along with team members; creating modules and systems that can be treated as a
        working reflection of the best practices</li>
    <li>Setting up best practices to help the team and driving the adoption of these best practices around coding,
        design, quality &amp; performance</li>
    <li>Working on new &amp; relevant technologies and tools, and driving adoption of the same, scoping the technical
        solutions to meet the immediate needs, meeting technical expectations of deliverables are met.</li>
    <li>Developing and maintaining strong customer relations</li>
    <li>Participating as technical expert in pre-sales qualification events (Solution, Estimation, Sizing) as well as
        various technology initiatives from CTO office</li>
    <li>Leading assurance activities of project quality; conducting technical QA reviews on components; performing QA
        reviews of code documentation</li>
    <li>Conducting:</li>
    <li>User Forums for Application Improvement</li>
    <li>Voice of Customer Surveys &amp; Associate Satisfaction Surveys</li>
    <li>Organizing Performance and Carrier Development Plans for Associates along with internal &amp; Technical
        trainings on various technologies</li>
    <li>Interacting with the Client&rsquo;s Business and IT Teams to gather, define, clarify and refine requirements;
        guiding the&nbsp;architecture &amp; design of applications</li>
    <li>Leading large-scale business application architecture and design efforts; developing &amp; maintaining
        application architectures for various business functional areas</li>
    <li>Resolving integration &amp; interface issues between various applications or systems with focus on optimizing
        application performance &amp; scalability</li>
    <li>Coordinating with various&nbsp;matrix teams and driving meetings for constructive discussion towards solution
        achievement</li>
    <li>Aligning architecture to business strategy in order to deliver structured, efficient, sustainable and adaptable
        IT solutions in line with the business need</li>
    <li>Designing multitenant applications and microservices with .NET Core 2.0 and Entity Framework Core</li>
    <li>Writing Chatbots with Microsoft Bot Framework by using Microsoft Cognitive Services</li>
    <li>Creating Case Studies and RFP&rsquo;s for Clients in various domains by adopting new Technologies (Machine
        Learning, Deep Learning models)</li>
    <li>Formulating single page applications with node.js ,typescript,&nbsp;angular and JavaScript frameworks</li>
    <li>Creating progressive web applications with responsive web design and participating in isomorphic (both server
        and client) JavaScript Development</li>
</ul>
<p>&nbsp;</p>