@page "/"

<h2 style="text-align: center;"><strong>Sunil Pottumuttu</strong></h2>
<p style="text-align: center;"><strong>Technical Architect</strong></p>
<p style="text-align: center;"><strong>Targeting Senior-Level Assignments as an Architect with an organisation of
        repute</strong></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><strong>Location Preference: Hyderabad /
            Bangalore / Chennai</strong></span></p>
<p>&nbsp;</p>
<ul>
    <li>
        <h3><strong>Executive Profile</strong></h3>
        <ul>
            <li><strong>Result-oriented professional</strong> with an experience of <strong>15+ years
                </strong>in<strong> the IT industry; </strong>exposure of working in <strong>Mortgage Banking, Leasing,
                    Healthcare, Document Management Systems,Travel Management Systems domains &amp; Payment Industry</strong></li>
            <li><strong>Expertise in driving</strong> end-to-end solution architecture, involving client interaction,
                functional analysis of business requirements, development of solution strategy, technology research
                &amp; evaluation, finalization &amp; review of design &amp; development method, review, integration
                &amp; testing of solution</li>
            <li><strong>Proven success in taking independent ownership</strong> of all technical aspects of application
                development lifecycle and delivered releases on time</li>
            <li><strong>Gained significant onsite exposure</strong> in Bank of America, Charlotte, USA &amp; DeLage
                Landen (subsidiary of Rabobank), Eindhoven, Netherlands</li>
            <li><strong>Contribution to Open Source Projects </strong>(IronPython, Luis SDK)</li>
            <li><strong>Exposure of Machine Learning/Data Mining and predictive analytics</strong> with neural networks,
                data science with Jupyter&nbsp;and Anaconda</li>
            <li><strong>Working as Technical/Solution Architect </strong>for various projects in the current and previous
                Organization.</li>
            <li><strong>Worked on Data Analytics</strong> with python using pandas, scikit-learn, Keras</li>
            <li><strong>Experience in:</strong>
                <ul>
                    <li><strong>Cloud Platform</strong> Azure and Heroku</li>
                    <li><strong>Blockchain Platform</strong> Ethereum/Hyperledger Fabric/Neo</li>
                    <li><strong>Web Data Mining</strong> by writing Screen Scrapers, HTTP Bots, and Social Media
                        Analytics using tools like Kapow, Intulli, Scrapy</li>
                    <li>Data Science Development
                        <ul>
                            <li>Master Data Management - Entity Data Matching</li>
                            <li>Named Entity Recognition on Webpages(HTML)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><strong>IOT projects</strong> using Raspberry PI &amp; Arduino</li>
            <li>Working Experience in Block chain Platform for Logistic Industry using Oracle Blockchain Services/Tendermint/Neo/Ethereum.</li>
            <li>Embedded Tableau Analytics using Using Tools (Anvil.works)/.NET core and Javascript</li>
            <li>Working on Request for Proposals to various clients and providing Technical Directions to proposals by
                interacting with Different clients and Based on the client needs.</li>
            <li><strong>Possess excellent interpersonal &amp; problem-solving skills</strong>; <strong>people</strong>
                <strong>management expert</strong> with capabilities in training teams for enhancing their skills
                towards attaining the objectives</li>
            <li>Work with High level management in the organization to Demonstrate The Technical Strengths and
                Organizational Capabilities of the company</li>
            <li>Initiating Centre of Excellence for Embedded Analytics and Block chain</li>
            <li>Helping in Recruitment Activities and Providing Job Descriptions.</li>
            <li>Mentor for Other Team Members.</li>
            <li>Giving Client Demos to provide insights about company's capabilities</li>
        </ul>
        <p>&nbsp;</p>
    </li>
</ul>
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
