@page "/projects"

<p><strong>Title:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Claims Administrative and Billing System</strong></p>
<p><strong>Client:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ameri Health Administrator</p>
<p><strong>Role:</strong>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Solution Architect</p>
<p><strong>Environment/Technologies:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asp.Net MVC with C#, SSRS, SQL Server, WCF, ASP.NET Web API, JQuery, Entity Framework</p>
<p><strong>Description:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AHA Billing Department utilizes multiple systems and manual process in order to generate &amp; manipulate bills for their clients. There is a need to build a billing system, the CABS system robust enough to automate the tasks that were previously manual. The purpose of the project is to implement the billing functionality required to support the migration of AHA business onto HR and corresponding technical infrastructure.</p>
<p><strong>Responsibilities:</strong></p>
<ul>
<li>Participated in the design &amp; implementation of applications</li>
<li>Developed/enhanced CABS Application and WCF Services</li>
<li>Contributed in code walk-throughs /reviews</li>
</ul>
<p>&nbsp;</p>
<p><strong>Title:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>IntelleKt</strong></p>
<p><strong>Client:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trion</p>
<p><strong>Role:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Solution Architect</p>
<p><strong>Environment/Technologies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Angular2, ASP.Net Core, SQL Server, Typescript</p>
<p><strong>Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>The IntelleKt (Voluntary Benefits Connect) application has not been modified for several years. The application fell out with Trion&rsquo;s technology direction and needs to be refined to support the current products offered. New Design will cover the design, development, testing and launch of a New API Enabled Standalone VB Connect System which can be consumed by other Benefit Administration Platforms.</p>
<p><strong>Responsibilities:</strong></p>
<ul>
<li>Analyzed &amp; worked on Tickets</li>
<li>Developed Asp.Net Web API Restful Services</li>
<li>Contributed in integrating Web API with Angular JS</li>
<li>Participated in writing Test Cases</li>
</ul>
<p>&nbsp;</p>
<p><strong>Title:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Investor Insight &ndash; Know Your Client</strong></p>
<p><strong>Client:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SEI Investments</p>
<p><strong>Role:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Solution Architect</p>
<p><strong>Environment/Technologies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Asp.Net MVC with C#, SQL Server, ASP.NET Web Api, Kendo UI, JQuery, Entity Framework</p>
<p><strong>Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>SEI is a leading global provider for outsourced asset management, investment processing and investment operations solutions. Investor Insight (II) is a centralized repository/data warehouse of all their client's security and account related information with regards to their different accounting systems. It also evaluates performance and return values at asset as well as account level.</p>
<p><strong>Responsibilities:</strong></p>
<ul>
<li>Analyzed &amp; worked on Tickets</li>
<li>Developed Asp.Net Web API Restful</li>
<li>Participated in the integration of Web API with MVC Kendo UI Controls</li>
</ul>
<p>&nbsp;</p>
<p><strong>Title:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>LEAP Integration &amp; Test Data Tool</strong></p>
<p><strong>Client:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ameri Health Administrator</p>
<p><strong>Role:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Team Lead/Solution Architect</p>
<p><strong>Environment/Technologies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Asp.Net MVC with C#, SSRS, SQL Server, WCF, ASP.NET Web API, JQuery, Entity Framework</p>
<p><strong>Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>AHA is the official partner of Independent Blue Cross providing healthcare solutions to US citizens. AHA provides tailored, cost-effective, third-party administration (TPA) solutions for organizations that self-fund their health benefits. LEAP Integration builds an integration platform to integrate various applications &amp; partners.</p>
<p><strong>Responsibilities:</strong></p>
<ul>
<li>Contributed in designing &amp; implementing applications</li>
<li>Developed WCF Services</li>
<li>Assisted in the integration of JQuery plugins</li>
<li>Participated in code walk-throughs /reviews</li>
</ul>
<p>&nbsp;</p>
<p><strong>Title:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Log Analysis</strong></p>
<p><strong>Client:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ameri Health Administrator</p>
<p><strong>Role:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Team Lead/Solution Architect/Hadoop Developer</p>
<p><strong>Environment/Technologies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Hive, Pig,HDFS, SOLR</p>
<p><strong>Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>The project aims to move all log data from individual servers to HDFS as the main log storage and management system and then perform analysis on these HDFS data-sets. Flume was used to move the log data periodically into HDFS. Once the data-set is inside HDFS, Pig and Hive were used to perform various analysis.</p>
<p><strong>Responsibilities:</strong></p>
<ul>
<li>Participating in:</li>
<li>Analyzing the system &amp; business</li>
<li>Transferring files from OLTP Server to Hadoop File System</li>
<li>Writing queries with HiveQL and Pig</li>
<li>Contributed in database connection by using Sqoop</li>
<li>Imported &amp; exported data from Oracle to HiveQL and from HiveQL to HDFS</li>
<li>Processed &amp; analyzed the data from Hive tables using HiveQL</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Other Projects:</strong></p>
<p><strong>&nbsp;</strong></p>
<ul>
<li>Sprint3 UI Account Fields Standardization &amp; Migrating to .NET Framework 4.5</li>
<li>PSEC Usability</li>
<li>ECS (Sprint3 Application) Development and Major Change Requests</li>
<li>Migration of CBSoutdoor to SharePoint 2010</li>
<li>ITS GEA Automation</li>
<li>Presage ,Raise Your hand(RYH) ,Presage Admin &amp; RYH Admin Applications</li>
<li>FIRST Web Load</li>
<li>Document Management System (FIRST Application)</li>
<li>PACE BRO Automation</li>
<li>Incident Management Center</li>
<li>TLS 4.0(Travel Locator Service)</li>
<li>Care Application</li>
<li>Loan Calculators</li>
<li>Countrywide Content Management System</li>
<li>com (B2C Internet Development Group)</li>
<li>Case Management System</li>
<li>BruinBay Web Store</li>
</ul>