@page "/techskills"
<h3>Technical Skills</h3>
<ul>
    <li><strong>Languages </strong></li>
</ul>
<p style="padding-left: 60px;">C#, Python, PHP, Ruby, Go,NodeJs,Rust</p>
<ul>
    <li><strong>Web Technologies </strong></li>
</ul>
<p style="padding-left: 60px;">ASP.Net Core (Blazor,MVC,Web API,Grpc,GraphQL), Signal R, .NET Core, Flask, webpy, Angular JS, Scrapy,Typescript</p>
<ul>
    <li><strong>ORM Frameworks</strong></li>
</ul>
<p style="padding-left: 60px;">LINQ, Entity Framework Core</p>
<ul>
    <li><strong>Databases </strong></li>
</ul>
<p style="padding-left: 60px;">SQL Server, Mongo DB, Couch DB</p>
<ul>
    <li><strong>Cache Serve </strong></li>
</ul>
<p style="padding-left: 60px;">Redis</p>
<ul>
    <li><strong>Web Servers </strong></li>
</ul>
<p style="padding-left: 60px;">IIS, Nginx, Kestrel</p>
<ul>
    <li><strong>Machine Learning /Natural Language Tools</strong></li>
</ul>
<p style="padding-left: 60px;">Weka, Encog, H2o, Rapid Miner, Orange, Accord.NET, NLTK, LingPipe,OpenNLP, Deep Learning
    With Keras and TensorFlow</p>
<ul>
    <li><strong>IOT Technologies</strong></li>
</ul>
<p style="padding-left: 60px;">Industrial C with Arduino, Raspberry GPIO,MQTT Protocol,IOT&ndash; With Raspberry Pi</p>
<ul>
    <li><strong>Cloud Technologies</strong></li>
</ul>
<p style="padding-left: 60px;">Azure &ndash; Websites Development &amp; Deployments,Heroku</p>
<ul>
    <li><strong>DevOps</strong></li>
</ul>
<p style="padding-left: 60px;">Docker</p>
<ul>
    <li><strong>Process Automation Tools</strong></li>
</ul>
<p style="padding-left: 60px;">RPA &ndash; UiPath</p>
<ul>
    <li>&nbsp;<strong>Block Chain Technologies</strong></li>
</ul>
<p style="padding-left: 60px;">Ethereum, Solidity,Hyperledger Fabricm,Neo</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>