@page "/techskills"
<h3>Technical Skills</h3>
<p>&nbsp;</p>
<table style="height: 39px; width: 686.8px;">
<tbody>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Languages </strong></td>
<td style="width: 390.8px; height: 13px;"><strong>&nbsp;</strong>C#, Python, PHP, Ruby, Go</td>
</tr>
<tr style="height: 26px;">
<td style="width: 281px; height: 26px;"><strong>Web Technologies</strong></td>
<td style="width: 390.8px; height: 26px;">ASP.Net Web API, Signal R, .NET Core, Flask, webpy, Angular JS,<strong>&nbsp;</strong>Scrapy,Typescript</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>ORM Frameworks</strong></td>
<td style="width: 390.8px; height: 13px;">LINQ, Entity Framework Core</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Databases</strong></td>
<td style="width: 390.8px; height: 13px;"><strong>&nbsp;</strong>SQL Server, Mongo DB, Couch DB</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Cache Serve</strong></td>
<td style="width: 390.8px; height: 13px;">Redis</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Web Servers</strong></td>
<td style="width: 390.8px; height: 13px;">IIS, Nginx, Kestrel</td>
</tr>
<tr style="height: 13.725px;">
<td style="width: 281px; height: 13.725px;"><strong>Machine Learning /Natural Language Tools</strong></td>
<td style="width: 390.8px; height: 13.725px;">
<p>Weka, Encog, H2o, Rapid Miner, Orange, Accord.NET, NLTK, LingPipe,OpenNLP, Deep Learning With Keras and TensorFlow</p>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>IOT Technologies</strong></td>
<td style="width: 390.8px; height: 13px;">
<p>Industrial C with Arduino, Raspberry GPIO,MQTT Protocol,IOT&ndash; With Raspberry Pi</p>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Cloud&nbsp;<strong>Technologies</strong></strong></td>
<td style="width: 390.8px; height: 13px;">
<p>&nbsp;Azure &ndash; Websites Development &amp; Deployments</p>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>DevOps&nbsp;</strong></td>
<td style="width: 390.8px; height: 13px;">
<p>Docker</p>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Process Automation Tools</strong></td>
<td style="width: 390.8px; height: 13px;">
<p>RPA &ndash; UiPath</p>
</td>
</tr>
<tr style="height: 13px;">
<td style="width: 281px; height: 13px;"><strong>Block Chain Technologies</strong></td>
<td style="width: 390.8px; height: 13px;">
<p>Ethereum, Solidity</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>